

#menu ul  li:hover ul{
margin:35px 0 0 -95px;
padding:0;
list-style:none;
position:absolute;
display:block;
float:left;
}

#search-block-form label{
padding:5px 0 0 0;
}

#superfish-1 {float:left; display:inline; width:100%; padding:0;margin:0; position:relative;}

#superfish-1 ul {position:absolute; left:-9999px; top:0;margin:9.5mm 0 0 -25mm; padding:0 0 0 10px; background:url("../images/li-lft.png") no-repeat scroll 0 0 transparent; z-index:9999;}
