body {
    color: #000000;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 4mm;
	line-height:5mm;
    margin: 0;
    padding: 0;
}

p {
margin:0;
padding:0;
float:0;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 5mm;
	line-height:6mm;
}

a{
color:#000000;
text-decoration:none;
}

h2,h4,h5,h6{
margin:0;
padding:0;
}

img{
border:none;
float:left;
}

#wrapper{
	width:258.2mm;
	margin:0 auto; 
	padding:0;
}

#header{
    float:left;
	margin:0;
	padding:0; 
	height:29mm;
	width:100%;
}

.logo {
    float: left;
    margin: 0;
    padding: 0 0 0 3mm;
	width:50mm;
}

.contactDetails{
    float:right;
	margin:2.5mm 3mm 0 0;
	padding:0;
	width:auto;
	color:#222222;
}

.contactDetails label{
  float: left;
    margin: 0 2.5mm 0 0;
    padding: 0;
}

.contactDetails a, .contactDetails {
    color:#222222;
	font-size:5mm;
        line-height:6mm;
	font-weight:bold;
	width:73mm;
}

.contactDetails span input{
    background:#D3D1D1;
	border:none;
}


#menuPlatform{
float:left;
margin:0;
padding:0; 
height:9.5mm;
width:100%; 
background:#3f3213;
}
#menu ul{
margin:0 0 0 5mm;
padding:0;
list-style:none;
float:left;
}

#menu ul ul{
margin:3mm 0 0 1mm;
padding:0;
list-style:none;
position:absolute;
display:none;
background: url("images/li-lft.png") no-repeat scroll 0 0 transparent;
z-index:9999;
}

#menu h2{
display:none;
}

#menu ul li{
float:left;
margin:0;
padding:0;
list-style:none;
text-transform: uppercase;
}

#menu ul li ul li{
float:left;
margin:0;
padding:0;
list-style:none;
text-transform: uppercase;
background: url("images/aback.png") repeat scroll 0 0 transparent;
padding: 0 0 0.25mm 0;
height:7.4mm;
}

#menu ul  li:hover ul{
margin:9.2mm 0 0 2.1mm;
padding:0;
list-style:none;
position:absolute;
display:block;
}

/*#menu ul  li a:focus ul{
margin:9.2mm 0 0 2.1mm;
padding:0;
list-style:none;
position:absolute;
display:block;
}*/

#menu ul li a{
color:#ffffff;
font-size:4.5mm;
        line-height:5.5mm;
font-weight:normal;
text-decoration:none;
padding:1.8mm 3mm;
float:left;
font-weight:bold;
}


#menu ul li ul li a{
color:#ffffff;
font-size:4.5mm;
        line-height:5.5mm;
font-weight:normal;
text-decoration:none;
padding:0.8mm 2.6mm 0.8mm 2.6mm;
float:left;
font-weight:bold;
background:url("images/dropSep.jpg") no-repeat scroll right 1.3mm;
}

#menu ul li ul li.first {
float: left;
list-style: none outside none;
margin-left: 2mm;
padding: 0 0 0.1mm;
height:7.5mm;
}


#menu ul li ul li.first a {
color: #FFFFFF;
float: left;
font-weight: bold;
margin: 0 0 0 2.6mm;
padding: 0.8mm 2.6mm 0.8mm 0;
text-decoration: none;
}
#menu ul li ul li.last a {
color: #FFFFFF;
float: left;
font-weight: bold;
padding: 0.8mm 4.5mm 0.8mm 2.6mm;
text-decoration: none;
background: url("images/rtl.png") no-repeat scroll right 0;
margin-right: -2mm;
} 
#menu ul li ul li.last {
float: left;
list-style: none outside none;
padding: 0 0 0.1mm 0;
height:7.5mm;
}


#body{
float:left;
margin:0;
padding:0;
min-height:116mm;
width:100%;
background:#FFCC66;
}

.bodyleft{
width:44.5mm;
float:left;
margin:0;
padding:0;
background:#ffcc66;
min-height:100.5mm;
}

.bodyleft-sidemenu{
margin:0;
padding:0;
width:100%;
float:left;
min-height:76.7mm;
}

.bodyleft-sidemenu h2{
font-size: 5mm;
        line-height:6mm;
font-weight: bold;
margin: 0;
padding: 5.2mm 0 0 2.6mm;
text-transform:uppercase;
}

.bodyleft-icons{
float:left;
margin:0;
padding:5.2mm 0 0 6.8mm;
clear:both;
}

.bodyleft-icons span{
float:left;
margin:0 0 2.6mm 0;
}

#bodyright{
background:#C5E0F2;
float:left;
margin:0;
padding:0;
width:213.5mm;
min-height:116mm;
}





.pagecontent{
float:left;
width:100%;
margin:0;
padding:12.4mm 0 0 0;
}

.contentVideo{
float:left;
margin:0;
padding:0;
width:99mm;
padding-bottom:4.5mm;
}

.contentVideo span.captionVideo{
margin:0;
padding:2.6mm 0 0 0;
text-align:center;
height:6.6mm;
background:#FFCC66;
width:99mm;
clear:both;
float:left;
font-size:5mm;
        line-height:6mm;
}

.pagecontent .contentVideo ul{
margin:1.3mm 0 0 3.9mm;
padding:2.6mm 0 0 0;
float:left;
clear:both;
}

.pagecontent .contentVideo ul li.home{
margin:0;
padding:1.3mm 0 0 6.6mm;
background:url(images/li.jpg) no-repeat 0 2.6mm;
list-style:none;
font-size:5mm;
        line-height:6mm;
}

.bodycontent{
float:left;
padding:0 0 5.3mm 8mm;
width:106mm;
}

.bodycontent p{
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 5mm;
        line-height:6mm;
}

.bodycontent p a{
clear:#003399;
}

.bodycontent p a:visited{
clear:#663399;
}
.bodycontent p a:hover{
clear:#933cc;
}

.bodycontentSubpage p a{
clear:#003399;
}

.bodycontentSubpage p a:visited{
clear:#663399;
}
.bodycontentSubpage p a:hover{
clear:#933cc;
}

.homepageText{
font-size:5mm;
        line-height:6mm;
text-align:center;
font-family:Trebuchet MS,Arial,Helvetica,sans-serif;
}

#bodyFooter{
float:left;
margin:0;
padding:0;
height:49.7mm;
background:#1478BE;
width:100%;
}

#bodyFooter .newevents{
width:96mm;
padding:0 6.6mm 0 6.6mm;
margin:0;
float:left;
}

#bodyFooter .newevents span.newseventshead{
color:#fff;
float:left;
padding:0;
margin:0;
}

.partners{
float:left;
margin:9.2mm 0 0 0;
padding: 2.6mm 2.6mm 6.6mm;
width: 87.3mm;
}

.footerBlock1{
float:left;
padding:0;
margin:10.5mm 0 0 0;
width:25.6mm;
}
.footerBlock1 ul{
margin:0;
padding:0;
list-style:none;
}

.footerBlock1 ul li{
margin:0;
padding:0;
clear:both;
text-transform: uppercase;
}

.footerBlock1 ul li a{
color:#ffffff;
text-decoration:none;
font-size:4mm;
line-height:5mm;
float:left;
}


.footerBlock2{
float:left;
padding:0;
margin:10.6mm 0 0 0;
width:25.6mm;
}
.footerBlock2 ul{
margin:0;
padding:0;
list-style:none;
}
.footerBlock2 ul li{
margin:0;
padding:0;
clear:both;
text-transform: uppercase;
}
.footerBlock2 ul li a{
color:#ffffff;
text-decoration:none;
font-size:4mm;
line-height:5mm;
float:left;
}

#footer{
float:left;margin:0; 
width:100%; 
text-align:center;
height:5.3mm;
padding:2.6mm 0 1.3mm 0;
font-size:4mm;
        line-height:5mm;
}

.toprightabovesearch{
float:left;
margin:0;
padding:0;
}

.toprightbelowsearch{
float:left;
margin:1mm 0 0 0;
padding:0;
clear:both;
}

/*search*/
.search{
float:left;
margin:0;
clear:both;
clear:both;
height:5.3mm;
padding:1mm 0 0 0;
}

#search-block-form input#edit-search-block-form--2 {
    float: right;
    margin-left: 13.2mm;
    width: 42.3mm;
	background: none repeat scroll 0 0 #D3D1D1;
    border: medium none;
	height:3.4mm;color:green;
}
#search-block-form .form-item-search-block-form .element-invisible{
clip:rect(auto 10.5mm 9.2mm auto);;
}
/*search end here*/



#block-views-front-page-buttons-block .views-row-1{
background:url(images/joinus.jpg) no-repeat; 
width:25.1mm; 
height:21mm; 
float:left; 
padding:0.5mm 0 0 0;
font-size:3.3mm;
        line-height:4.3mm;
position:relative;
}

#block-views-front-page-buttons-block .views-row-3{
background:url(images/joinus.jpg) no-repeat; 
width:25.1mm; 
height:21mm; 
float:left; 
padding:0.5mm 0 0 0;
font-size:3.3mm;
        line-height:4.3mm;
position:relative;
}

#block-views-front-page-buttons-block .views-row-2{
background:url(images/joinus.jpg) no-repeat; 
width:27.7mm; 
height:23mm; 
float:left; 
color:#ffffff;
padding:0.5mm 0 0 0;
position:relative;
}

#block-views-front-page-buttons-block .views-row-2 .field-content{
width:90%;
text-align:center;
}

#block-views-front-page-buttons-block .views-row-1 .field-content{
width:90%;
text-align:center;
}

#block-views-front-page-buttons-block .views-row-3 .field-content{
width:90%;
text-align:center;
}

#block-views-front-page-buttons-block .view-content img{
margin:0.26mm 0 0 0.8mm;
}

#block-views-front-page-buttons-block .view-content .black{
color:#000;
}

#block-views-front-page-buttons-block .view-content .white{
color:#fff;
}

/*
#block-views-front-page-buttons-block .views-row-1 a{
color:#fff;
}

#block-views-front-page-buttons-block .views-row-3 a{
color:#fff;
}*/

.westernStyle {
    color: #FFFFFF;
    float: left;
    font-size: 3.3mm;
    line-height: 5mm;
    font-weight: bold;
    padding: 1.3mm 0 0 0;
    text-align: center;
    width: 91%;
    font-family: Agency FB,Trebuchet MS,Helvetica,sans-serif;
	}
.westernStyleDate{
 color: #fff;
    float: left;
    text-align: center;
    width: 89%;
font-family: Agency FB,Trebuchet MS,Helvetica,sans-serif;font-size:3mm;
}

.bodycontentSubpage{
float:left;
padding:0 0 0 8mm;
width:96%;
}

.contentVideoSubpage{
float:left;
margin:0;
padding:0;
width:100%;
}

.subpage-bodycontent-wrap{
  clear: both;
    float: left;
    padding: 2.6mm 6.35mm 0 0;
    width: 97%;
	min-height: 78.6mm;
}

.subpage-bodycontent-wrap p{
margin:0;
padding:0;
}

.subpage-bodycontent-left{
float: left;
padding:0;
width: 93.9mm;
padding:0 5.3mm 0 0;
}

.subpage-bodycontent-right{
float:left;
}

.contentVideoSubpage .captionVideo{
margin:0;
padding:2.6mm 0 2.6mm 0;
text-align:center;
background:#FFCC66;
width:99mm;
clear:both;
float:left;
font-size:5mm;
        line-height:6mm;
}

.pagecontent .contentVideoSubpage ul{
margin:1.3mm 0 0 3.9mm;
padding:2.6mm 0 0 0;
float:left;
clear:both;
}

.pagecontent .contentVideoSubpage ul li{
margin:0;
padding:0;
list-style:none;
font-size:4mm;
        line-height:5mm;
 list-style: disc outside none;
}

.bodycontentSubpage h1{
font-weight:bold;
float:left;
margin:0;
padding:0;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 7mm;
        line-height:8mm;
}
.bodycontentSubpage p{
clear:both;
width:100%;
float:left;
margin:0 0 1.3mm 0;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 5mm;
	line-height:6mm;
}

.breadcrumb{
float:left;
margin:0;
padding:2.6mm 0 2.6mm 0;
clear:both;
}

.breadcrumb ul{
margin:0;
padding:0;
float:left;
list-style:none;
}

.breadcrumb ul li{
float:left;
padding:0 0.8mm 0 0;
margin:0;
}

.bodyleft-sidemenu ul{
margin:0 0 0 2.9mm;
padding:0;
list-style:none;
}

.bodyleft-sidemenu ul li{
margin:0;
padding:0;
list-style:none;
text-transform: uppercase;
}

.bodyleft-sidemenu ul li.active a{
font-size:4mm;
	line-height:5mm;
font-weight:normal;
}

.bodyleft-sidemenu ul li a{
font-size: 5mm;
	line-height:6mm;
font-weight: normal;
}

.galleryThumbs{
clear:both;
margin:0;
padding:0;
float:left;
width:100%;
}

.galleryThumbs ul{
float:left;
margin:0;
padding:0;
width:100%;
}

.galleryThumbs ul li{
float:left;
margin:0 1.3mm;
padding:0;
list-style:none;
}
#memu ul li .menu-198 last active {
display:none;
}


/* login form*/

#user-login-form input{
float: left;
    height: 3.9mm;
    width: 31.7mm;
}


#user-login-form{
padding:0 2.6mm;
}


#user-login-form input#edit-submit{
float: left;
    height: 5.3mm;
    width: 31.7mm;
}

#user-login-form ul{
padding:0;
margin:0;
}

#block-views-frontpageimage-block .views-field-title .field-content{
background: none repeat scroll 0 0 #FFCC66;
float: left;
font-size: 5mm;
	line-height:6mm;
padding: 2.6mm 0;
text-align: center;
width:99mm;
}

.pagecontent .tabs ul li{
background:none;
padding:1.3mm 0 0 1.3mm;
}

.form-item input.error, .form-item textarea.error, .form-item select.error{
border: 0.5mm solid green;
}

div.error, table tr.error {
background-color: #FEF5F1;
float: left;
width: 91%;
background-image: none;
padding:0 0 0 3.9mm;
}

div.error  ul li{
background:none !important;
}

div.error ul {
padding:0 !important;
margin:2.6mm 0 !important;
}

div.error ul li{
padding:0 !important;
margin:0 !important;
}

div.tabs ul {
margin-left:0 !important;
}

.container-inline .form-actions, .container-inline.form-actions{
display:none;
}


/*news and events wrap*/
.newsandeventswrap{
width:100%;
float:left;
height:35.7mm;
width:95.25mm;
background:#C5E0F2;
border:0.5mm solid #7BB7DF;
}

.newevents h2{
color: #FFFFFF;
font-size: 5mm;
	line-height:6mm;
margin: 0;
padding: 1.32mm 0 1.32mm 2.6mm;
font-family: Arial,Trebuchet MS,Helvetica,sans-serif;
}

.newevents .content {
background: none repeat scroll 0 0 #62b0e3;
border: 0.5mm solid #7BB7DF;
float: left;
height:36mm;
width:95mm;
}

.seemore{
background: none repeat scroll 0pt 0pt rgb(197, 224, 242); 
border-right: 0.5mm solid #7BB7DF;
border-left: 0.5mm solid #7BB7DF;
border-bottom: 0.5mm solid #7BB7DF; 
text-align: right; 
float: left; 
padding-right: 3.4mm; 
width: 91.8mm;
}

.newevents .content .views-row {
clear:both;
}

.newevents .content .views-field-body{
float:left;
}

.newevents .views-field-view-node{
float:right;
padding-right:3.1mm;
}

.newevents p{
padding:1.32mm 3.9mm 0 2.6mm;
float:left;
font-size:4mm;
line-height:5mm;
text-align:left;
clear:both;
width:94%;
font-family: Trebuchet MS;
}

.newevents .views-field-view-node a{
text-decoration:none;
color:#1478BE;
}


.seemore a{
text-decoration:none;
color:#1478BE;
}

.newevents p.seemore{
text-decoration:none;
float:left;
clear:both; width:100%; text-align:right;
font-family: Trebuchet MS;
}

.newevents p.seemore a{
text-decoration:none;
color:#1478BE;
margin:0 2.6mm 0 0;
font-size:4mm;
line-height:5mm;
}
.newseventshead h3{
color: #FFFFFF;
font-size: 5mm;
line-height:6mm;
margin: 0;
padding: 1.32mm 0 1.32mm 2.6mm;
font-family: Arial,Trebuchet MS,Helvetica,sans-serif;
}


#block-views-news-and-events-block .views-field{
padding:1.32mm 3.9mm 0 2.6mm;
float:left;
clear:both;
width:94%;

}
#block-views-news-and-events-block .views-field .field-content .NewsAndEventText{
font-family: Trebuchet MS;
font-size:4mm;
line-height:5mm;
text-align:left;
}

#block-views-news-and-events-block .views-field .field-content a{
text-decoration:underline;
color:#003399;
}

#block-views-news-and-events-block .views-field .field-content  a:visited{
color: #663399;
}

#block-views-news-and-events-block .views-field .field-content  a:hover{
color: #9933cc;
}

#block-views-news-and-events-block .view-footer{
text-decoration:none;
float:left;
clear:both; width:100%; text-align:right;
font-family: Trebuchet MS;
}

#block-views-news-and-events-block .view-footer p{
text-align:right;
}

#block-views-news-and-events-block .view-footer a{
text-decoration:none;
color:#1478BE;
margin:0 2.6mm 0 0;
font-size:5mm;
line-height:6mm;
}
/*news and events wrap*/

#block-views-front-page-buttons-block .views-row {
width:27.7mm;
height:23mm;
float:left;
font-size:3.3mm;
line-height:4.3mm;
}

img.chicklet
{
padding:0.8mm;
}


div.messages{
clear:both;
}

#search-block-form input#edit-search-block-form--2 {
    height: 3.7mm;
    margin-left: 19mm;
    margin-top: 1mm;
}


#search-block-form .form-item-search-block-form .element-invisible{
clip: rect(auto, 20mm, 10.5mm, auto);

}

#block-views-news-and-events-block .views-field .field-content a:visited{color: #FFCC66;}

#block-block-14{
padding:2.6mm;
}

.subpage-bodycontent-wrap .region-maincontent{
clear:both;
}

#user-login-form input#edit-submit--2{
height:6.6mm;
padding:0 1.32mm 1mm 1.32mm;
}

#footer .region-footer a{
    color: #003399;
    text-decoration: underline;
}
#footer .region-footer a:visited{
    color: #663399;
    text-decoration: underline;
}

#footer .region-footer a:hover{
    color: #9933cc;
    text-decoration: underline;
}

.bodyleft-sidemenu .content{
margin-top:6mm;
}




#block-superfish-1 h2{display:none;}
#superfish-1 a:link {text-decoration:none}
#superfish-1 a:visited {text-decoration:none}
#superfish-1 a:hover, #superfish-1 a:focus, #superfish-1 a:active {text-decoration:none;}

#superfish-1 li li a:hover, #superfish-1 li li a:focus, #superfish-1 li li a:active {text-decoration:underline;}

/* --- TOP LEVEL MENU STYLES --- */
#superfish-1 {float:left; display:inline; width:100%; padding:0;margin:0;}
#superfish-1 li {float:left; font-weight:bold;list-style:none;}
#superfish-1 li a {color: #FFFFFF;float: left; font-size: 4.5mm;font-weight: bold; text-transform:uppercase;
    line-height: 5.5mm; padding: 1.8mm 3mm; text-decoration: none;} 
   
/* --- SUB MENU ITEMS --- */
#superfish-1 li li {border:0 none; font-weight:normal; z-index:20;
float:left;
margin:0;
padding:0;
list-style:none;
text-transform: uppercase;
background: url("images/aback.png") repeat scroll 0 0 transparent;
padding: 0 0 0.25mm 0;
height:7.5mm;} 
/* no width here because of IE */
/*#superfish-1 li li a {width:11em; padding:5px 0.5em 7px; border-width:1px} */
#superfish-1 li li a {
color:#ffffff;
font-size:4.5mm;
line-height:5.5mm;
font-weight:normal;
text-decoration:none;
padding:1.4mm 2.6mm 0.8mm 2.6mm;text-transform:uppercase;
float:left;
font-weight:bold;
background:url("images/dropSep.jpg") no-repeat scroll right 1.3mm;}
#superfish-1 ul > li {display:block; float:left;} 

#superfish-1 li li.last a{
color: #FFFFFF;
float: left;
font-weight: bold;
padding: 1.4mm 4.5mm 0.8mm 2.6mm;
text-decoration: none;
background: url("images/rtl.png") no-repeat scroll right 0;
margin-right: -2mm;
} 

#superfish-1 li li.last a:hover, #superfish-1 li li.last a:focus, #superfish-1 li li.last a:active {text-decoration:underline;}

#superfish-1 li.sf-total-children-1 li a{
color: #FFFFFF;
float: left;
font-weight: bold;
padding: 1.4mm 4.5mm 0.8mm 2.6mm;
text-decoration: none;
background: url("images/rtl.png") no-repeat scroll right 0;
margin-right: -2mm;
} 

#superfish-1 li.sf-total-children-1 li a:hover, #superfish-1 li.sf-total-children-1 li a:focus, #superfish-1 li.sf-total-children-1 li a:active {text-decoration:underline;}


/* for Opera *//* --- SUB MENU FIRST LEVEL INITIAL POSITION --- */  
#superfish-1 ul {position:absolute; left:-9999px;margin:9.5mm 0 0 1mm; padding:0 0 0 10px; background:url("images/li-lft.png") no-repeat scroll 0 0 transparent; z-index:9999;}

/*for modern browsers:*/
/*see the conditional comments for IE7*//* --- SHOW FIRST LEVEL SUB MENU --- *//*For ie6:*/

#superfish-1 li.sfhover ul,#superfish-1 li a:active ul,#superfish-1 li.sffocusparent ul,#superfish-1 li a.sffocus ul {left:0}

/* for modern browsers + IE7:*/
#superfish-1 li:hover > ul,#superfish-1 li.sfhover > ul,#superfish-1 li.sffocusparent > ul,#superfish-1 li a:active > ul,#superfish-1 li a:focus + ul,#superfish-1 li a.sffocus + ul {left:auto}
/* For ie6: */

#superfish-1 ul li a:hover ul, #superfish-1 ul li.sfhover ul,#superfish-1 ul li a:active ul,#superfish-1 ul li.sffocusparent ul,#superfish-1 ul li.sffocus ul {margin-left:12em; top:-1px; left:1px}

/* for modern browsers + IE7: */
#superfish-1 ul li:hover > ul,#superfish-1 ul li.sfhover > ul,#superfish-1 li li a.sffocus + ul,#superfish-1 li li.sffocus > ul {margin-left:12em; top:-1px; left:1px}

/* --- SUB LEVEL positions for JavaScript  OFF - thanks http://css-class.com/articles/ursidae/ --- */ 
/* --- The focus position for submenu anchors --- */

#superfish-1.jsoff li li a:focus, #superfish-1.jsoff li li a:active { /* --- THE FOCUS POSITION FOR FIRST SUB MENU ANCHORS --- */	position:relative;	left:9999px;	top:-1px;	z-index:21;}

/* --- The hovered position for submenu anchors when the anchor is in focus --- */

#superfish-1.jsoff li:hover li a:focus, #superfish-1.jsoff li:hover li a:active { 	position:relative; left:auto; top:-1px; margin-left:0} #superfish-1.jsoff li:hover a:focus + ul { /* --- THE POSITION OF FIRST LEVEL SUB MENU, WHEN THE PARENT IS FOCUSSED AND HOVERED --- */	margin-left:0px;}

#superfish-1.jsoff li li a:focus + ul { /* --- THE POSITION OF SECOND LEVEL SUB MENU, WHEN THE PARENT IS FOCUSSED FOR JavaScript  OFF --- */	top:-1px;	left:12em;	margin-left:10000px;}/* --- BACKGROUND IMAGES OF PARENT ITEMS --- */

#superfish-1 li a.mum { }
#superfish-1 ul li a.mum {}

/* --- LINK HOVER STYLES --- */#superfish-1 li a:link, #superfish-1 li a:visited  {background-color:transparent}
#superfish-1 li a:hover, #superfish-1 li:hover a, #superfish-1 li a:focus, #superfish-1 li a:active, #superfish-1 li.sfhover a, #superfish-1 li a.sffocus, #superfish-1 li.sffocusparent a {}
#superfish-1 li li a:link, #superfish-1 li li a:visited  {background-color:transparent}#superfish-1 ul li a:hover, #superfish-1 ul li:hover a, #superfish-1 ul li a:focus, #superfish-1 ul li a:active, #superfish-1 ul li.sfhover a, #superfish-1 ul li a.sffocus, #superfish-1 ul li.sffocusparent a {}
