body {
    color: #000000;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 4mm;
    margin: 0;
    padding: 0;
}

p {
margin:0;
padding:0;
float:0;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 4mm;
}

a{
color:#000000;
text-decoration:none;
}

h2,h4,h5,h6{
margin:0;
padding:0;
}

img{
border:none;
float:left;
}

#wrapper{
    width:975px;
	margin:0 auto; 
	padding:0;
}

#header{
    float:left;
	margin:0;
	padding:0; 
	height:88px;
	width:100%;
}

.logo {
    float: left;
    margin: 0;
    padding: 0px 0px 0px 12px;
    width: 185px;
}

.contactDetails{
    float:right;
	margin:10px 18px 0 0;
	padding:0;
	width:auto;
	color:#222222;
}

.contactDetails label{
  float: left;
    margin: 0 10px 0 0;
    padding: 0;
}

.contactDetails a, .contactDetails {
    color:#222222;
	font-size:1em;
	font-weight:bold;
	width:220px;
}

.contactDetails span input{
    background:#D3D1D1;
	border:none;
}


#menu{
float:left;
margin:0;
padding:0; 
height:35px;
width:100%; 
background:#193F59;
}
#menu ul{
margin:0 0 0 5px;
padding:0;
list-style:none;
float:left;
}

#menu ul ul{
margin:35px 0 0 -5px;
padding:0;
list-style:none;
float:left;
position:absolute;
display:none;
float:left;

}

#menu h2{
display:none;
}

#menu ul li{
float:left;
margin:0;
padding:0;
list-style:none;
text-transform: uppercase;
}

#menu ul li ul li{
float:left;
margin:0;
padding:0;
list-style:none;
text-transform: uppercase;
}

#menu ul  li:hover ul{
margin:35px 0 0 -5px;
padding:0;
list-style:none;
float:left;
position:absolute;
display:block;
float:left;
}

#menu ul li a{
color:#ffffff;
font-size:1.1em;
font-weight:normal;
text-decoration:none;
padding:8px 10px 9px 10px;
float:left;
font-weight:bold;
}


#menu ul li ul li a{
color:#ffffff;
font-size:1.1em;
font-weight:normal;
text-decoration:none;
padding:5px 10px;
float:left;
font-weight:bold;
background:url("images/dropSep.jpg") no-repeat scroll right 5px #F4CF67;
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
}

#menu ul li ul li.first {
background: url("images/li-lft.png") no-repeat scroll 0 0 transparent;
float: left;
list-style: none outside none;
margin: 0;
padding: 0;
}


#menu ul li ul li.first a {
color: #FFFFFF;
float: left;
font-weight: bold;
margin: 0 0 0 10px;
padding: 5px 10px 5px 0;
text-decoration: none;
}
#menu ul li ul li.last a {
background: #F4CF67;
color: #FFFFFF;
float: left;
font-weight: bold;
padding: 5px 0px 5px 10px;
text-decoration: none;margin-right:10px;
} 
#menu ul li ul li.last {
background: url("images/li-rgt.png") no-repeat scroll right center;
float: left;
list-style: none outside none;
margin: 0;
padding: 0;
}


#body{
float:left;
margin:0;
padding:0;
min-height:380px;
width:100%;
background:#F4CF67;
}

.bodyleft{
width:168px;
float:left;
margin:0;
padding:0;
background:#F4CF67;
min-height:380px;
}

.bodyleft-sidemenu{
margin:0;
padding:0;
width:100%;
float:left;
min-height:290px;
}

.bodyleft-sidemenu h2{
font-size: 14px;
font-weight: bold;
margin: 0;
padding: 20px 0 0 10px;
text-transform:uppercase;
}

.bodyleft-icons{
float:left;
margin:0;
padding:20px 0 0 26px;
clear:both;
}

.bodyleft-icons span{
float:left;
margin:0 0 10px 0;
}

#bodyright{
background:#C5E0F2;
float:left;
margin:0;
padding:0;
width:807px;
min-height:380px;
}





.pagecontent{
float:left;
width:100%;
margin:0;
padding:47px 0 0 0px;
}

.contentVideo{
float:left;
margin:0;
padding:0;
width:374px;
padding-bottom:17px;
}

.contentVideo span.captionVideo{
margin:0;
padding:10px 0 0 0;
text-align:center;
height:25px;
background:#F4CF67;
width:373px;
clear:both;
float:left;
font-size:1.3em;
}

.pagecontent .contentVideo ul{
margin:5px 0 0 15px;
padding:10px 0 0 0;
float:left;
clear:both;
}

.pagecontent .contentVideo ul li.home{
margin:0;
padding:5px 0 0 25px;
background:url(images/li.jpg) no-repeat 0px 6px;
list-style:none;
font-size:1.3em;
}

.bodycontent{
float:left;
padding:0 0 20px 30px;
width:380px;
}

.bodycontent p{
line-height:21px;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 4mm;
}

.homepageText{
font-size:1.2em;
text-align:center;
font-family:Trebuchet MS,Arial,Helvetica,sans-serif;
}

#bodyFooter{
float:left;
margin:0;
padding:0;
height:188px;
background:#1478BE;
width:100%;
}

#bodyFooter .newevents{
width:363px;
padding:0 25px 0 25px;
margin:0;
float:left;
}

#bodyFooter .newevents span.newseventshead{
color:#fff;
float:left;
padding:0;
margin:0;
}

.partners{
float:left;
margin:35px 0 0 0;
width:340px;
padding:10px 0 25px 25px;
}

.footerBlock1{
float:left;
padding:0;
margin:40px 0px 0 0;
width:80px;
}
.footerBlock1 ul{
margin:0;
padding:0;
list-style:none;
}

.footerBlock1 ul li{
margin:0;
padding:0;
clear:both;
text-transform: uppercase;
}

.footerBlock1 ul li a{
color:#ffffff;
text-decoration:none;
font-size:1.1em;
line-height:14px;
float:left;
}


.footerBlock2{
float:left;
padding:0;
margin:40px 0 0 0;
width:90px;
}
.footerBlock2 ul{
margin:0;
padding:0;
list-style:none;
}
.footerBlock2 ul li{
margin:0;
padding:0;
clear:both;
text-transform: uppercase;
}
.footerBlock2 ul li a{
color:#ffffff;
text-decoration:none;
font-size:1.1em;
line-height:14px;
float:left;
}

#footer{
float:left;margin:0; 
width:100%; 
text-align:center;
height:20px;
padding:10px 0 5px 0;
font-size:1.1em;
}

.toprightabovesearch{
float:left;
margin:0;
padding:0;
}

.toprightbelowsearch{
float:left;
margin:0;
padding:0;
clear:both;
}

/*search*/
.search{
float:left;
margin:0;
clear:both;
clear:both;
height:20px;
padding:4px 0 0 0;
}

#search-block-form input#edit-search-block-form--2 {
    float: right;
    margin-left: 50px;
    width: 160px;
	background: none repeat scroll 0 0 #D3D1D1;
    border: medium none;
	height:13px;color:green;
}
#search-block-form .form-item-search-block-form .element-invisible{
clip:rect(auto 40px 35px auto);;
}
/*search end here*/



.joinusText{
background:url(images/joinus.jpg) no-repeat; 
width:95px; 
height:79px; 
float:left; 
padding:6px 10px 0 0px; 
text-align:center;
font-size:1em;
}

.westernText{
background:url(images/western.jpg) no-repeat; 
width:105px; 
height:87px; 
float:left; 
}

.westernStyle {
    color: #FFFFFF;
    float: left;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 18px;
    padding: 5px 0 0 0px;
    text-align: center;
    width: 91%;
    font-family: Agency FB,Trebuchet MS,Helvetica,sans-serif;
	}
.westernStyleDate{
 color: #fff;
    float: left;
    text-align: center;
    width: 89%;
font-family: Agency FB,Trebuchet MS,Helvetica,sans-serif;font-size:0.8em;
}

.bodycontentSubpage{
float:left;
padding:0 0 0 30px;
width:96%;
}

.contentVideoSubpage{
float:left;
margin:0;
padding:0;
width:100%;
}

.subpage-bodycontent-wrap{
  clear: both;
    float: left;
    padding: 10px 24px 0 0;
    width: 97%;
	min-height: 230px;
}

.subpage-bodycontent-wrap p{
margin:0;
padding:0;
}

.subpage-bodycontent-left{
float: left;
padding:0;
width: 355px;
padding:0 20px 0 0;
}

.subpage-bodycontent-right{
float:left;
}

.contentVideoSubpage .captionVideo{
margin:0;
padding:10px 0 10px 0;
text-align:center;
background:#F4CF67;
width:373px;
clear:both;
float:left;
font-size:1.3em;
}

.pagecontent .contentVideoSubpage ul{
margin:5px 0 0 15px;
padding:10px 0 0 0;
float:left;
clear:both;
}

.pagecontent .contentVideoSubpage ul li{
margin:0;
padding:0;
list-style:none;
font-size:13px;
 list-style: disc outside none;
}

.bodycontentSubpage h1{
font-weight:bold;
float:left;
margin:0;
padding:0;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 4mm;
}
.bodycontentSubpage p{
clear:both;
width:100%;
float:left;
margin:0px 0 5px 0;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 4mm;
}

.breadcrumb{
float:left;
margin:0;
padding:10px 0 10px 0;
clear:both;
}

.breadcrumb ul{
margin:0;
padding:0;
float:left;
list-style:none;
}

.breadcrumb ul li{
float:left;
padding:0 3px 0 0;
margin:0;
}

.bodyleft-sidemenu ul{
margin:0px 0 0 9px;
padding:0;
list-style:none;
}

.bodyleft-sidemenu ul li{
margin:0;
padding:0;
list-style:none;
text-transform: uppercase;
}

.bodyleft-sidemenu ul li.active a{
font-size:14px;
font-weight:normal;
}

.bodyleft-sidemenu ul li a{
font-size: 1.3em;
font-weight: normal;
line-height: 16px;
}

.galleryThumbs{
clear:both;
margin:0;
padding:0;
float:left;
width:100%;
}

.galleryThumbs ul{
float:left;
margin:0;
padding:0;
width:100%;
}

.galleryThumbs ul li{
float:left;
margin:0 5px;
padding:0;
list-style:none;
}
#memu ul li .menu-198 last active {
display:none;
}


/* login form*/

#user-login-form input{
float: left;
    height: 15px;
    width: 120px;
}


#user-login-form{
padding:0 10px;
}


#user-login-form input#edit-submit{
float: left;
    height: 20px;
    width: 120px;
}

#user-login-form ul{
padding:0;
margin:0;
}

#block-views-frontpageimage-block .views-field-title .field-content{
background: none repeat scroll 0 0 #F4CF67;
float: left;
font-size: 1.3em;
padding: 10px 0;
text-align: center;
width: 373px;
}

.pagecontent .tabs ul li{
background:none;
padding:5px 0 0 5px;
}

.form-item input.error, .form-item textarea.error, .form-item select.error{
border: 2px solid green;
}

div.error, table tr.error {
background-color: #FEF5F1;
float: left;
width: 91%;
background-image: none;
padding:0 0 0 15px;
}

div.error  ul li{
background:none !important;
}

div.error ul {
padding:0 !important;
margin:10px 0 !important;
}

div.error ul li{
padding:0 !important;
margin:0 !important;
}

div.tabs ul {
margin-left:0 !important;
}

.container-inline .form-actions, .container-inline.form-actions{
display:none;
}


/*news and events wrap*/
.newsandeventswrap{
width:100%;
float:left;
height:135px;
width:360px;
background:#C5E0F2;
border:1px solid #7BB7DF;
}

.newevents h2{
color: #FFFFFF;
font-size: 17px;
margin: 0;
padding: 5px 0 5px 10px;
font-family: Arial,Trebuchet MS,Helvetica,sans-serif;
}

.newevents .content {
background: none repeat scroll 0 0 #C5E0F2;
border: 1px solid #7BB7DF;
float: left;
height: 135px;
width: 360px;
}

.seemore{
background: none repeat scroll 0pt 0pt rgb(197, 224, 242); 
border-right: 1px solid #7BB7DF;
border-left: 1px solid #7BB7DF;
border-bottom: 1px solid #7BB7DF; 
text-align: right; 
float: left; 
padding-right: 13px; 
width: 347px;
}

.newevents .content .views-row {
clear:both;
}

.newevents .content .views-field-body{
float:left;
}

.newevents .views-field-view-node{
float:right;
padding-right:12px;
}

.newevents p{
padding:5px 15px 0px 10px;
float:left;
font-size:1.2em;
text-align:left;
clear:both;
width:94%;
font-family: Trebuchet MS;
line-height:15px;
}

.newevents .views-field-view-node a{
text-decoration:none;
color:#1478BE;
}
.seemore a{
text-decoration:none;
color:#1478BE;
}

.newevents p.seemore{
text-decoration:none;
float:left;
clear:both; width:100%; text-align:right;
font-family: Trebuchet MS;
}

.newevents p.seemore a{
text-decoration:none;
color:#1478BE;
margin:0 10px 0 0px;
font-size:1.3em;
}
.newseventshead h3{
color: #FFFFFF;
font-size: 17px;
margin: 0;
padding: 5px 0 5px 10px;
font-family: Arial,Trebuchet MS,Helvetica,sans-serif;
}


#block-views-news-and-events-block .views-field{
padding:5px 15px 0px 10px;
float:left;
clear:both;
width:94%;

}
#block-views-news-and-events-block .views-field .field-content .NewsAndEventText{
font-family: Trebuchet MS;
line-height:15px;
font-size:1.2em;
text-align:left;
}

#block-views-news-and-events-block .views-field .field-content a{
text-decoration:none;
color:#1478BE;
}

#block-views-news-and-events-block .view-footer{
text-decoration:none;
float:left;
clear:both; width:100%; text-align:right;
font-family: Trebuchet MS;
}

#block-views-news-and-events-block .view-footer p{
text-align:right;
}

#block-views-news-and-events-block .view-footer a{
text-decoration:none;
color:#1478BE;
margin:0 10px 0 0px;
font-size:1.0em;
}
/*news and events wrap*/

#block-views-front-page-buttons-block .views-row {
width:105px;
height:87px;
float:left;
text-align:center;
}

img.chicklet
{
padding:3px 3px 3px 3px;
}

